<div class="container">
  <form class="form-group" (submit)="doAdd()">
    <label> Author Name:</label><br/>
    <input type="text" name="blog.userName" class="form-control" [(ngModel)]="blog.userName" readonly/><br/>
    <label> Author ID:</label><br/>
    <input type="text" name="blog.userId" class="form-control" [(ngModel)]="blog.userId" readonly/><br/>
    <label> Subject:</label><br/>
    <input type="text" name="blog.name" class="form-control" [(ngModel)]="blog.name" required minlength="4" #name="ngModel" /><br/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Subject is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Subject must be at least 4 characters long.
      </div>
    </div>
    <label> Category:</label><br/>
    <select name="blog.catagoryId" [(ngModel)]="blog.catagoryId" class="form-control">
      <option *ngFor="let x of catagories" [ngValue]="x.id">{{x.catagoryName}}</option>
    </select>
    <label> Write Your Blog Here!!!</label><br/>
    <textarea id="text1" name="blog.description" class="form-control form-control-lg" [(ngModel)]="blog.description" required
      minlength="50" #blogDesc="ngModel"> </textarea><br/>
    <div *ngIf="blogDesc.invalid && (blogDesc.dirty || blogDesc.touched)" class="alert alert-danger">
      <div *ngIf="blogDesc.errors.required">
        Subject is required.
      </div>
      <div *ngIf="blogDesc.errors.minlength">
        Blog must be at least 50 characters long.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-success ">Submit</button>
        <button class="btn btn-success " (click)="doCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
<template #messageModal>
  <div class="modal-dialog modal-sm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Message</h4>

    </div>
    <div class="modal-body">
      Please Login to Continue!!!
    </div>
    <div class="modal-footer ">
      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-default" (click)="doHide()">Okay</button>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->

</template>
<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <marquee>You are Currently visited Bloggines.com. Enjoy reading our blogs and write more. Wish you a happy day...</marquee>
    </p>
  </div>
</footer>