<div class="container">
  <form class="form-group" (submit)="doEdit()">
    <label> Author Name:</label><br/>
    <input type="text" name="blog.userName" class="form-control" [(ngModel)]="blog.userName" readonly/><br/>
    <label> Author ID:</label><br/>
    <input type="text" name="blog.userId" class="form-control" [(ngModel)]="blog.userId" readonly/><br/>
    <label> Subject:</label><br/>
    <input type="text" name="blog.name" class="form-control" [(ngModel)]="blog.name" /><br/>
    <label> Category:</label><br/>
    <select name="blog.catagoryId" [(ngModel)]="blog.catagoryId" class="form-control">
      <option *ngFor="let x of catagories" [ngValue]="x.id">{{x.catagoryName}}</option>
    </select>
    <label> Edit Your Blog Here!!!</label><br/>
    <textarea id="text1" name="blog.description" class="form-control form-control-lg" [(ngModel)]="blog.description"> </textarea><br/>

    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-success ">Submit</button>
      <button class="btn btn-success " (click)="doCancel()">Cancel</button>
    </div>
  </form>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <marquee>You are Currently visited Bloggines.com. Enjoy reading our blogs and write more. Wish you a happy day...</marquee>
    </p>
  </div>
</footer>