<div class="container">
  <div class='table-responsive'>
    <table id="listTable" class="table table-bordered table-hover table-striped">
      <caption>
        <h1 class=" text-primary text-center text-bold">Your Blogs</h1>
      </caption>
      <thead>
        <tr>
         
          <th><b> Subject</b></th>
          <th><b>Author Name</b></th>
          <th><b>Category</b></th>
          <th><b>Date</b></th>
          <th colspan="3"><b>Actions</b></th>
        </tr>
      </thead>
      <tr *ngFor="let x of _blog">
        
        <td>{{ x.name }}</td>
        <td>{{ x.userName }}</td>
        <td>{{x.catagoryId?x.catagory.catagoryName:""}}</td>
        <td>{{ x.creationTimeStamp | date: 'dd/MM/yyyy'}}</td>
        <td><button type="button" class="btn btn-md btn-success" tooltip="Edit the Blog" placement='bottom' (click)=doEdit(x)> Edit </button></td>
        <td><button type="button" class="btn btn-md btn-default" (click)=doShow(x) tooltip="Show the Details of the Blog" placement='bottom'> Show </button></td>
        <td><button type="button" class="btn btn-md btn-danger" (click)=doConfirm(x) tooltip="Delete the bolg" placement='bottom'> Delete </button></td>
      </tr>
    </table>
  </div>
  <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
    class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>
<template #deleteModal>
  <div class="modal-dialog modal-sm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Please Confirm</h4>
    </div>
    <div class="modal-body">
      Are You Sure, You Want to Delete this Blog?
    </div>
    <div class="modal-footer ">
      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-default" (click)="doDelete()">Yes</button>
          <button type="button" class="btn btn-default" (click)="doHide()">No</button>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->

</template>
<template #showModal class="modal-dialog modal-lg">

  <!--<div class="modal-dialog modal-lg" >-->
<!--<div bsModal #showModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
  <div class="modal-dialog modal-lg">
     <div class="modal-header">
  <!--<div class="modal-header">-->

    <h4 class="modal-title pull-left">{{singleBlog.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="doHide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{singleBlog.description}}
  </div>
  <div class="modal-footer ">
    <div class="row">

      <div class="col-sm-12 text-right">
        Author: &nbsp;{{singleBlog.userName}} &nbsp; Date: &nbsp;{{singleBlog.creationTimeStamp| date: 'dd/MM/yyyy'}}
      </div>
    </div>
  </div>
  <!--</div>
  </div>-->
</div>
</template>
<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <marquee>You are Currently visited Bloggines.com. Enjoy reading our blogs and write more. Wish you a happy day...</marquee>
    </p>
  </div>
</footer>